body{
    margin:0px;
    overflow: hidden;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 60px;
}
.navbar{
    top: 0px;
    left: 0px;
    height: 100vh;
    width: auto;
    position: absolute;
    background-color: #101010;
    box-shadow: 0px 0px 100px black;
}
div.footer{
    height: 100%;
    display: flex;
    justify-content: center;
}
.footer-content{
    position: absolute;
    bottom: 0px;
}
.listitems{
    margin: 0;
    padding: 50px;
    text-align: left;
    list-style-type: none;
}
li{
    margin-bottom: 10px;
}
a{
    color: #827b6b;
    text-decoration: none;
}
a:hover{
    color:whitesmoke;
}
.background{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
}